version: "3"

services:
  quakeledger:
    image: gfzriesgos/quakeledger:1.0.1

  shakyground:
    image: gfzriesgos/shakyground:2.0.0

  assetmaster:
    image: gfzriesgos/assetmaster:2.1.0

  modelprop:
    image: gfzriesgos/modelprop:1.1.1

  deus:
    image: gfzriesgos/deus:2.0.0

  flooddamage:
    image: gfzriesgos/flooddamage:20220222

  eve:
    image: gfzriesgos/eve:0.1

  riesgos-wps:
    image: gfzriesgos/riesgos-wps:__PROD_IMAGE_TAG__
    container_name: riesgos-wps-prod
    restart: always
    environment:
      - CATALINA_OPTS=-Xmx12g -Xms12g
      - RIESGOS_MAX_CACHE_SIZE_MB=8192
      - RIESGOS_GEOSERVER_ACCESS_BASE_URL=__GEOSERVER_URL__
      - RIESGOS_GEOSERVER_SEND_BASE_URL=http://riesgos-wps:8080/geoserver
      - RIESGOS_GEOSERVER_USERNAME=admin
      - RIESGOS_GEOSERVER_PASSWORD=__GEOSERVER_PASSWORD__
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "riesgos-json-config:/usr/share/riesgos/json-configurations"
      - "riesgos-wps-hsqldb:/usr/local/tomcat/webapps/wps/WEB-INF/classes/db/data"
      - "riesgos-wps-logs:/usr/local/tomcat/logs"
      - "/builds/riesgos-assistance-prod/tomcat-users-prod.xml:/usr/local/tomcat/conf/tomcat-users.xml"
      - "/builds/riesgos-assistance-prod/users-prod.xml:/usr/local/tomcat/webapps/geoserver/data/security/usergroup/default/users.xml"
      - "/builds/riesgos-assistance-prod/application_properties_prod.js:/usr/local/tomcat/webapps/wps-js-client/application_properties.js"

  nginx:
    image: nginx:1.21.6-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/etc/ssl/private/gfz_hosts_default.key:/etc/ssl/private/gfz_hosts_default.key:ro"
      - "/etc/ssl/gfz_hosts_default.chained.crt:/etc/ssl/gfz_hosts_default.chained.crt:ro"
      - "/etc/ssl/private/rz-vm140.gfz-potsdam.de.key:/etc/ssl/private/rz-vm140.gfz-potsdam.de.key:ro"
      - "/etc/ssl/rz-vm140.gfz-potsdam.de.chained.crt:/etc/ssl/rz-vm140.gfz-potsdam.de.chained.crt:ro"
      - "/etc/ssl/dhparam.pem:/etc/ssl/dhparam.pem:ro"
      - "/etc/ssl/dfn-ca-global-g2-chain.pem:/etc/ssl/chain.pem:ro"
      - "/builds/riesgos-assistance-prod/nginx_prod.conf:/etc/nginx/conf.d/default.conf:ro"

volumes:
  riesgos-json-config:
  riesgos-wps-hsqldb:
  riesgos-wps-logs:
